.bd-navbar{
    background-color: $bd-navbar-bg;
}

.page-header-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 8px;
    margin-top: 8px;
}
